@tailwind base;
@tailwind components;
@tailwind utilities;

@mixin windowWidth ($winwidth: 1440px, $winMarg: 0 auto) {
    max-width: $winwidth;
    min-width: 320px;
    margin: $winMarg;

    @media screen and (max-width: 1440px) {
        width: 90%;
    }
}

$text-color: #526768;


body {
    // background-image: url("./background/big-bck.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    @include windowWidth();
    color: $text-color;
}

.whiteSection {
    width: 95%;
    margin: 0 auto;
    min-height: 50vh;
}

@import "./navbar/_navbar";
@import "./pages/categories";