.categories {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    // display: flex;
    // justify-content: space-between;
    width: 100%;
    background-color: aquamarine;
    // flex-wrap: wrap;
    // justify-content: center;
    // margin-top: 20px;
    // margin-bottom: 20px;
}
